

body {
	background: url("Blue-rule.png");
	font: 16px "Comic Sans MS", cursive;
}
p:before{
  content: url("yellow-pin.png");
}

/* p {color: blue;} */
strong { color: red; font-size: 32px; background-color: #ddf;}
.carrot { color: #ffa500; }
.spinach { color: green; }
.strong1 { /*this whole thing is a rule. "strong1" is a selector and sets which elements the rule applies to. */
color: red; /*a property */
text-decoration: underline; /* this is the expanded view, below is collapsed */
}
.strong2 {color: pink; text-decoration: underline;}
.strong3 {color: green; text-decoration: underline;}
.strong4 {color: orange; text-decoration: underline;}
.strong5 {color: salmon; text-decoration: underline;}
.strong6 {color: brown; text-decoration: underline;}
#first { font-style: italic; color:blue;}


a.homepage:link, a.homepage:visited {
	padding: 1px 10px 1px 10px;
	color: #fff;
	background: #555;
	border-radius: 3px;
	border: 1px outset rgba(50,50,50,.5);
	font-family: georgia, serif;
	font-size: 14px;
	font-style: italic;
	text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
	background-color: #060;
}

div.menu-bar ul ul {
	display: none;
}

div.menu-bar li:hover > ul {
	display: block;
}


/* numbered paragraphs */
h3.numbered {counter-reset: mynum;}
ul {
  border: 10px solid lightblue;
  width:  100px;
}
 
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
}

li {
  list-style: lower-roman;
  margin-bottom: 8px;
}

/* Table */

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}